span {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

.user-container {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

  box-sizing: content-box;
  padding: 5px;
  margin-top: 5px;
}

.info-text {
  color: black;
  font-weight: 600;
}
